@if (profile) {
  <div class="profile-card">
    <div class="profile-card__user">
      <img
        class="profile-card__avatar"
        [src]="profile.avatarUrl | imgUrl"
        [alt]="profile.username"
      />
      <div class="profile-card__name">
        <strong>{{profile.firstName}} {{profile.lastName}}</strong>
        <span>{{profile.username}}</span>
      </div>
    </div>
    <div class="profile-card__desc">
     {{profile.description}}
    </div>
    <div class="profile-card__tags">
      @for (tag of profile.stack; track tag) {
        <span class="profile-card__skill profile-card__skill">{{tag}}</span>
      }
    </div>
    <div class="profile-card__buttons">
      <button class="btn">Подписаться</button>
    </div>
  </div>
}

