<div class="profile-card">
  <div class="profile-card__user">
    <img class="profile-card__avatar" src="" />
    <div class="profile-card__name">
      <strong>Хмелюк Сергій</strong>
      <span>nirvana</span>
    </div>
  </div>
  <div class="profile-card__desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tempore
    expedita quisquam, voluptates aperiam, quidem, nobis sunt eum vero
    architecto quos velit mollitia rerum eligendi fuga corrupti eveniet
    quibusdam asperiores.
  </div>
  <div class="profile-card__tags">
    <span class="profile-card__skill profile-card__skill">HTML</span>
    <span class="profile-card__skill profile-card__skill">CSS</span>
    <span class="profile-card__skill profile-card__skill">JavaScript</span>
    <span class="profile-card__skill profile-card__skill">Angular</span>
  </div>
  <div class="profile-card__buttons">
    <button class="btn">Подписаться</button>
  </div>
</div>
